/* CSS Snippet from W3schools: https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Style inputs with type="text", select elements and textareas */
input[type=message], input[type=email], input[type=text], textarea {
  font-size: 20px;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  /*border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 15px; /* Add a top margin */
  margin-bottom: 15px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[class="css-r0ncp3 edgvbvh9"]{
  color: white;
  padding: 20px;
  width: 100%; /* Full width */
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  font-size: 25px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}
button[class="css-r0ncp3 edgvbvh9"]:hover,:link{
  border-radius: 50px;
  text-decoration: none;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);  
  color: black;
  

}

/* background */
div[data-testid="stAppViewContainer"]{
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}

/* radio options */
div[class="row-widget stRadio"]{
  margin-top: 14px !important;

}
/* num input */
div[class="stNumberInput"]{
  margin-top: 8px !important;
  width: 80% !important;
}

/* Hide Streamlit Branding */
#MainMenu {visibility: visible;}
header {visibility: hidden;}
footer{visibility: hidden;}
h1,h2,p{
  text-align:center;
  
}

h2{
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
}
p{
  font-size: 50px;
  margin: 0px;
  margin-top: -1rem;
}
div[tabindex="0"]{
  display: none;
}

/* backgroundColor="#002d53" */
/* backgroundColor="#00000000" */
